In [2]:
#import Dependencies
import pandas as pd

In [3]:
#Reading CSV
csv_winter_path = "olympic-games/winter.csv"
csv_summer_path = "olympic-games/summer.csv"
csv_dict_path = "olympic-games/dictionary.csv"

In [4]:
#Creating Dataframes with CSV data
winter_df = pd.read_csv(csv_winter_path, encoding="utf-8")
winter_df

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold
...,...,...,...,...,...,...,...,...,...
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze

In [5]:
summer_df = pd.read_csv(csv_summer_path, encoding='utf-8')
summer_df

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [6]:
dict_df = pd.read_csv(csv_dict_path, encoding='utf-8')
dict_df

             Country Code  Population  GDP per Capita
0        Afghanistan  AFG  32526562.0      594.323081
1            Albania  ALB   2889167.0     3945.217582
2            Algeria  ALG  39666519.0     4206.031232
3    American Samoa*  ASA     55538.0             NaN
4            Andorra  AND     70473.0             NaN
..               ...  ...         ...             ...
196          Vietnam  VIE  91703800.0     2111.138024
197  Virgin Islands*  ISV    103574.0             NaN
198            Yemen  YEM  26832215.0     1406.291651
199           Zambia  ZAM  16211767.0     1304.879014
200         Zimbabwe  ZIM  15602751.0      924.143819

[201 rows x 4 columns]

In [7]:
# Concatenating Olympic games data into one Dataframe in ascending order)
olympic_list = [summer_df, winter_df]

In [8]:
olympic2_df = pd.concat(olympic_list, axis=0, join='outer', ignore_index=False, keys=None,
          levels=None, names=None, verify_integrity=False, copy=True)
olympic2_df

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze

In [9]:
# Unifying column name "Code" 
olympic3_df = olympic2_df.rename(columns={'Country':'Code'})
olympic3_df

,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze

In [10]:
# Adding a new column Country with mapping it to a dictionary dataframe
olympic3_df['Country'] = olympic3_df['Code'].map(dict_df.set_index('Code')['Country'])
olympic3_df

,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal,Country
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Hungary
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Austria
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Greece
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Greece
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Greece
...,...,...,...,...,...,...,...,...,...,...
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze,United Kingdom
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold,United States
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver,Canada
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold,Czech Republic
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze,France

In [16]:
# Getting a final dataframe
olympic_final_df = olympic3_df[["Year","Country","Medal","City","Sport","Discipline","Athlete","Gender","Event"]]
olympic_final_df

,Year,Country,Medal,City,Sport,Discipline,Athlete,Gender,Event
0,1896,Hungary,Gold,Athens,Aquatics,Swimming,"HAJOS, Alfred",Men,100M Freestyle
1,1896,Austria,Silver,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",Men,100M Freestyle
2,1896,Greece,Bronze,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",Men,100M Freestyle For Sailors
3,1896,Greece,Gold,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",Men,100M Freestyle For Sailors
4,1896,Greece,Silver,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",Men,100M Freestyle For Sailors
...,...,...,...,...,...,...,...,...,...
5765,2014,United Kingdom,Bronze,Sochi,Skiing,Snowboard,"JONES, Jenny",Women,Slopestyle
5766,2014,United States,Gold,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",Women,Slopestyle
5767,2014,Canada,Silver,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",Women,Snowboard Cross
5768,2014,Czech Republic,Gold,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",Women,Snowboard Cross
5769,2014,France,Bronze,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",Women,Snowboard Cross

In [41]:
lookup = olympic_final_df.groupby(['Year', 'Country']).size().reset_index()[['Year','Country']].to_dict(orient='records')

In [43]:
lookup

[{'Year': 1896, 'Country': 'Australia'},
 {'Year': 1896, 'Country': 'Austria'},
 {'Year': 1896, 'Country': 'Denmark'},
 {'Year': 1896, 'Country': 'France'},
 {'Year': 1896, 'Country': 'Germany'},
 {'Year': 1896, 'Country': 'Greece'},
 {'Year': 1896, 'Country': 'Hungary'},
 {'Year': 1896, 'Country': 'Switzerland'},
 {'Year': 1896, 'Country': 'United Kingdom'},
 {'Year': 1896, 'Country': 'United States'},
 {'Year': 1900, 'Country': 'Australia'},
 {'Year': 1900, 'Country': 'Austria'},
 {'Year': 1900, 'Country': 'Belgium'},
 {'Year': 1900, 'Country': 'Canada'},
 {'Year': 1900, 'Country': 'Cuba'},
 {'Year': 1900, 'Country': 'Denmark'},
 {'Year': 1900, 'Country': 'France'},
 {'Year': 1900, 'Country': 'Germany'},
 {'Year': 1900, 'Country': 'Hungary'},
 {'Year': 1900, 'Country': 'India'},
 {'Year': 1900, 'Country': 'Italy'},
 {'Year': 1900, 'Country': 'Netherlands'},
 {'Year': 1900, 'Country': 'Norway'},
 {'Year': 1900, 'Country': 'Spain'},
 {'Year': 1900, 'Country': 'Sweden'},
 {'Year': 1900, 'Country': 'Switzerland'},
 {'Year': 1900, 'Country': 'United Kingdom'},
 {'Year': 1900, 'Country': 'United States'},
 {'Year': 1904, 'Country': 'Austria'},
 {'Year': 1904, 'Country': 'Canada'},
 {'Year': 1904, 'Country': 'Cuba'},
 {'Year': 1904, 'Country': 'Germany'},
 {'Year': 1904, 'Country': 'Greece'},
 {'Year': 1904, 'Country': 'Hungary'},
 {'Year': 1904, 'Country': 'Switzerland'},
 {'Year': 1904, 'Country': 'United Kingdom'},
 {'Year': 1904, 'Country': 'United States'},
 {'Year': 1908, 'Country': 'Austria'},
 {'Year': 1908, 'Country': 'Belgium'},
 {'Year': 1908, 'Country': 'Canada'},
 {'Year': 1908, 'Country': 'Denmark'},
 {'Year': 1908, 'Country': 'Finland'},
 {'Year': 1908, 'Country': 'France'},
 {'Year': 1908, 'Country': 'Germany'},
 {'Year': 1908, 'Country': 'Greece'},
 {'Year': 1908, 'Country': 'Hungary'},
 {'Year': 1908, 'Country': 'Italy'},
 {'Year': 1908, 'Country': 'Netherlands'},
 {'Year': 1908, 'Country': 'Norway'},
 {'Year': 1908, 'Country': 'South Africa'},
 {'Year': 1908, 'Country': 'Sweden'},
 {'Year': 1908, 'Country': 'United Kingdom'},
 {'Year': 1908, 'Country': 'United States'},
 {'Year': 1912, 'Country': 'Austria'},
 {'Year': 1912, 'Country': 'Belgium'},
 {'Year': 1912, 'Country': 'Canada'},
 {'Year': 1912, 'Country': 'Denmark'},
 {'Year': 1912, 'Country': 'Finland'},
 {'Year': 1912, 'Country': 'France'},
 {'Year': 1912, 'Country': 'Germany'},
 {'Year': 1912, 'Country': 'Greece'},
 {'Year': 1912, 'Country': 'Hungary'},
 {'Year': 1912, 'Country': 'Italy'},
 {'Year': 1912, 'Country': 'Netherlands'},
 {'Year': 1912, 'Country': 'Norway'},
 {'Year': 1912, 'Country': 'South Africa'},
 {'Year': 1912, 'Country': 'Sweden'},
 {'Year': 1912, 'Country': 'United Kingdom'},
 {'Year': 1912, 'Country': 'United States'},
 {'Year': 1920, 'Country': 'Australia'},
 {'Year': 1920, 'Country': 'Belgium'},
 {'Year': 1920, 'Country': 'Brazil'},
 {'Year': 1920, 'Country': 'Canada'},
 {'Year': 1920, 'Country': 'Denmark'},
 {'Year': 1920, 'Country': 'Estonia'},
 {'Year': 1920, 'Country': 'Finland'},
 {'Year': 1920, 'Country': 'France'},
 {'Year': 1920, 'Country': 'Greece'},
 {'Year': 1920, 'Country': 'Italy'},
 {'Year': 1920, 'Country': 'Japan'},
 {'Year': 1920, 'Country': 'Luxembourg'},
 {'Year': 1920, 'Country': 'Netherlands'},
 {'Year': 1920, 'Country': 'New Zealand'},
 {'Year': 1920, 'Country': 'Norway'},
 {'Year': 1920, 'Country': 'South Africa'},
 {'Year': 1920, 'Country': 'Spain'},
 {'Year': 1920, 'Country': 'Sweden'},
 {'Year': 1920, 'Country': 'Switzerland'},
 {'Year': 1920, 'Country': 'United Kingdom'},
 {'Year': 1920, 'Country': 'United States'},
 {'Year': 1924, 'Country': 'Argentina'},
 {'Year': 1924, 'Country': 'Australia'},
 {'Year': 1924, 'Country': 'Austria'},
 {'Year': 1924, 'Country': 'Belgium'},
 {'Year': 1924, 'Country': 'Canada'},
 {'Year': 1924, 'Country': 'Denmark'},
 {'Year': 1924, 'Country': 'Estonia'},
 {'Year': 1924, 'Country': 'Finland'},
 {'Year': 1924, 'Country': 'France'},
 {'Year': 1924, 'Country': 'Haiti'},
 {'Year': 1924, 'Country': 'Hungary'},
 {'Year': 1924, 'Country': 'Italy'},
 {'Year': 1924, 'Country': 'Japan'},
 {'Year': 1924, 'Country': 'Netherlands'},
 {'Year': 1924, 'Country': 'New Zealand'},
 {'Year': 1924, 'Country': 'Norway'},
 {'Year': 1924, 'Country': 'Poland'},
 {'Year': 1924, 'Country': 'Portugal'},
 {'Year': 1924, 'Country': 'South Africa'},
 {'Year': 1924, 'Country': 'Sweden'},
 {'Year': 1924, 'Country': 'Switzerland'},
 {'Year': 1924, 'Country': 'United Kingdom'},
 {'Year': 1924, 'Country': 'United States'},
 {'Year': 1924, 'Country': 'Uruguay'},
 {'Year': 1928, 'Country': 'Argentina'},
 {'Year': 1928, 'Country': 'Australia'},
 {'Year': 1928, 'Country': 'Austria'},
 {'Year': 1928, 'Country': 'Belgium'},
 {'Year': 1928, 'Country': 'Canada'},
 {'Year': 1928, 'Country': 'Chile'},
 {'Year': 1928, 'Country': 'Denmark'},
 {'Year': 1928, 'Country': 'Egypt'},
 {'Year': 1928, 'Country': 'Estonia'},
 {'Year': 1928, 'Country': 'Finland'},
 {'Year': 1928, 'Country': 'France'},
 {'Year': 1928, 'Country': 'Germany'},
 {'Year': 1928, 'Country': 'Haiti'},
 {'Year': 1928, 'Country': 'Hungary'},
 {'Year': 1928, 'Country': 'India'},
 {'Year': 1928, 'Country': 'Ireland'},
 {'Year': 1928, 'Country': 'Italy'},
 {'Year': 1928, 'Country': 'Japan'},
 {'Year': 1928, 'Country': 'Netherlands'},
 {'Year': 1928, 'Country': 'New Zealand'},
 {'Year': 1928, 'Country': 'Norway'},
 {'Year': 1928, 'Country': 'Philippines'},
 {'Year': 1928, 'Country': 'Poland'},
 {'Year': 1928, 'Country': 'South Africa'},
 {'Year': 1928, 'Country': 'Spain'},
 {'Year': 1928, 'Country': 'Sweden'},
 {'Year': 1928, 'Country': 'Switzerland'},
 {'Year': 1928, 'Country': 'United Kingdom'},
 {'Year': 1928, 'Country': 'United States'},
 {'Year': 1928, 'Country': 'Uruguay'},
 {'Year': 1932, 'Country': 'Argentina'},
 {'Year': 1932, 'Country': 'Australia'},
 {'Year': 1932, 'Country': 'Austria'},
 {'Year': 1932, 'Country': 'Canada'},
 {'Year': 1932, 'Country': 'Denmark'},
 {'Year': 1932, 'Country': 'Finland'},
 {'Year': 1932, 'Country': 'France'},
 {'Year': 1932, 'Country': 'Germany'},
 {'Year': 1932, 'Country': 'Hungary'},
 {'Year': 1932, 'Country': 'India'},
 {'Year': 1932, 'Country': 'Ireland'},
 {'Year': 1932, 'Country': 'Italy'},
 {'Year': 1932, 'Country': 'Japan'},
 {'Year': 1932, 'Country': 'Latvia'},
 {'Year': 1932, 'Country': 'Mexico'},
 {'Year': 1932, 'Country': 'Netherlands'},
 {'Year': 1932, 'Country': 'New Zealand'},
 {'Year': 1932, 'Country': 'Norway'},
 {'Year': 1932, 'Country': 'Philippines'},
 {'Year': 1932, 'Country': 'Poland'},
 {'Year': 1932, 'Country': 'South Africa'},
 {'Year': 1932, 'Country': 'Spain'},
 {'Year': 1932, 'Country': 'Sweden'},
 {'Year': 1932, 'Country': 'Switzerland'},
 {'Year': 1932, 'Country': 'United Kingdom'},
 {'Year': 1932, 'Country': 'United States'},
 {'Year': 1932, 'Country': 'Uruguay'},
 {'Year': 1936, 'Country': 'Argentina'},
 {'Year': 1936, 'Country': 'Australia'},
 {'Year': 1936, 'Country': 'Austria'},
 {'Year': 1936, 'Country': 'Belgium'},
 {'Year': 1936, 'Country': 'Canada'},
 {'Year': 1936, 'Country': 'Denmark'},
 {'Year': 1936, 'Country': 'Egypt'},
 {'Year': 1936, 'Country': 'Estonia'},
 {'Year': 1936, 'Country': 'Finland'},
 {'Year': 1936, 'Country': 'France'},
 {'Year': 1936, 'Country': 'Germany'},
 {'Year': 1936, 'Country': 'Hungary'},
 {'Year': 1936, 'Country': 'India'},
 {'Year': 1936, 'Country': 'Italy'},
 {'Year': 1936, 'Country': 'Japan'},
 {'Year': 1936, 'Country': 'Latvia'},
 {'Year': 1936, 'Country': 'Mexico'},
 {'Year': 1936, 'Country': 'Netherlands'},
 {'Year': 1936, 'Country': 'New Zealand'},
 {'Year': 1936, 'Country': 'Norway'},
 {'Year': 1936, 'Country': 'Philippines'},
 {'Year': 1936, 'Country': 'Poland'},
 {'Year': 1936, 'Country': 'Portugal'},
 {'Year': 1936, 'Country': 'South Africa'},
 {'Year': 1936, 'Country': 'Sweden'},
 {'Year': 1936, 'Country': 'Switzerland'},
 {'Year': 1936, 'Country': 'Turkey'},
 {'Year': 1936, 'Country': 'United Kingdom'},
 {'Year': 1936, 'Country': 'United States'},
 {'Year': 1948, 'Country': 'Argentina'},
 {'Year': 1948, 'Country': 'Australia'},
 {'Year': 1948, 'Country': 'Austria'},
 {'Year': 1948, 'Country': 'Belgium'},
 {'Year': 1948, 'Country': 'Brazil'},
 {'Year': 1948, 'Country': 'Canada'},
 {'Year': 1948, 'Country': 'Cuba'},
 {'Year': 1948, 'Country': 'Denmark'},
 {'Year': 1948, 'Country': 'Egypt'},
 {'Year': 1948, 'Country': 'Finland'},
 {'Year': 1948, 'Country': 'France'},
 {'Year': 1948, 'Country': 'Hungary'},
 {'Year': 1948, 'Country': 'India'},
 {'Year': 1948, 'Country': 'Iran'},
 {'Year': 1948, 'Country': 'Italy'},
 {'Year': 1948, 'Country': 'Jamaica'},
 {'Year': 1948, 'Country': 'Korea, South'},
 {'Year': 1948, 'Country': 'Mexico'},
 {'Year': 1948, 'Country': 'Netherlands'},
 {'Year': 1948, 'Country': 'Norway'},
 {'Year': 1948, 'Country': 'Panama'},
 {'Year': 1948, 'Country': 'Peru'},
 {'Year': 1948, 'Country': 'Poland'},
 {'Year': 1948, 'Country': 'Portugal'},
 {'Year': 1948, 'Country': 'Puerto Rico*'},
 {'Year': 1948, 'Country': 'South Africa'},
 {'Year': 1948, 'Country': 'Spain'},
 {'Year': 1948, 'Country': 'Sri Lanka'},
 {'Year': 1948, 'Country': 'Sweden'},
 {'Year': 1948, 'Country': 'Switzerland'},
 {'Year': 1948, 'Country': 'Trinidad and Tobago'},
 {'Year': 1948, 'Country': 'Turkey'},
 {'Year': 1948, 'Country': 'United Kingdom'},
 {'Year': 1948, 'Country': 'United States'},
 {'Year': 1948, 'Country': 'Uruguay'},
 {'Year': 1952, 'Country': 'Argentina'},
 {'Year': 1952, 'Country': 'Australia'},
 {'Year': 1952, 'Country': 'Austria'},
 {'Year': 1952, 'Country': 'Belgium'},
 {'Year': 1952, 'Country': 'Brazil'},
 {'Year': 1952, 'Country': 'Bulgaria'},
 {'Year': 1952, 'Country': 'Canada'},
 {'Year': 1952, 'Country': 'Chile'},
 {'Year': 1952, 'Country': 'Denmark'},
 {'Year': 1952, 'Country': 'Egypt'},
 {'Year': 1952, 'Country': 'Finland'},
 {'Year': 1952, 'Country': 'France'},
 {'Year': 1952, 'Country': 'Germany'},
 {'Year': 1952, 'Country': 'Hungary'},
 {'Year': 1952, 'Country': 'India'},
 {'Year': 1952, 'Country': 'Iran'},
 {'Year': 1952, 'Country': 'Ireland'},
 {'Year': 1952, 'Country': 'Italy'},
 {'Year': 1952, 'Country': 'Jamaica'},
 {'Year': 1952, 'Country': 'Japan'},
 {'Year': 1952, 'Country': 'Korea, South'},
 {'Year': 1952, 'Country': 'Lebanon'},
 {'Year': 1952, 'Country': 'Luxembourg'},
 {'Year': 1952, 'Country': 'Mexico'},
 {'Year': 1952, 'Country': 'Netherlands'},
 {'Year': 1952, 'Country': 'New Zealand'},
 {'Year': 1952, 'Country': 'Norway'},
 {'Year': 1952, 'Country': 'Poland'},
 {'Year': 1952, 'Country': 'Portugal'},
 {'Year': 1952, 'Country': 'South Africa'},
 {'Year': 1952, 'Country': 'Spain'},
 {'Year': 1952, 'Country': 'Sweden'},
 {'Year': 1952, 'Country': 'Switzerland'},
 {'Year': 1952, 'Country': 'Trinidad and Tobago'},
 {'Year': 1952, 'Country': 'Turkey'},
 {'Year': 1952, 'Country': 'United Kingdom'},
 {'Year': 1952, 'Country': 'United States'},
 {'Year': 1952, 'Country': 'Uruguay'},
 {'Year': 1952, 'Country': 'Venezuela'},
 {'Year': 1956, 'Country': 'Argentina'},
 {'Year': 1956, 'Country': 'Australia'},
 {'Year': 1956, 'Country': 'Austria'},
 {'Year': 1956, 'Country': 'Bahamas'},
 {'Year': 1956, 'Country': 'Belgium'},
 {'Year': 1956, 'Country': 'Brazil'},
 {'Year': 1956, 'Country': 'Bulgaria'},
 {'Year': 1956, 'Country': 'Canada'},
 {'Year': 1956, 'Country': 'Chile'},
 {'Year': 1956, 'Country': 'Denmark'},
 {'Year': 1956, 'Country': 'Finland'},
 {'Year': 1956, 'Country': 'France'},
 {'Year': 1956, 'Country': 'Greece'},
 {'Year': 1956, 'Country': 'Hungary'},
 {'Year': 1956, 'Country': 'Iceland'},
 {'Year': 1956, 'Country': 'India'},
 {'Year': 1956, 'Country': 'Iran'},
 {'Year': 1956, 'Country': 'Ireland'},
 {'Year': 1956, 'Country': 'Italy'},
 {'Year': 1956, 'Country': 'Japan'},
 {'Year': 1956, 'Country': 'Korea, South'},
 {'Year': 1956, 'Country': 'Mexico'},
 {'Year': 1956, 'Country': 'New Zealand'},
 {'Year': 1956, 'Country': 'Norway'},
 {'Year': 1956, 'Country': 'Pakistan'},
 {'Year': 1956, 'Country': 'Poland'},
 {'Year': 1956, 'Country': 'South Africa'},
 {'Year': 1956, 'Country': 'Sweden'},
 {'Year': 1956, 'Country': 'Switzerland'},
 {'Year': 1956, 'Country': 'Turkey'},
 {'Year': 1956, 'Country': 'United Kingdom'},
 {'Year': 1956, 'Country': 'United States'},
 {'Year': 1956, 'Country': 'Uruguay'},
 {'Year': 1960, 'Country': 'Argentina'},
 {'Year': 1960, 'Country': 'Australia'},
 {'Year': 1960, 'Country': 'Austria'},
 {'Year': 1960, 'Country': 'Belgium'},
 {'Year': 1960, 'Country': 'Brazil'},
 {'Year': 1960, 'Country': 'Bulgaria'},
 {'Year': 1960, 'Country': 'Canada'},
 {'Year': 1960, 'Country': 'Denmark'},
 {'Year': 1960, 'Country': 'Egypt'},
 {'Year': 1960, 'Country': 'Ethiopia'},
 {'Year': 1960, 'Country': 'Finland'},
 {'Year': 1960, 'Country': 'France'},
 {'Year': 1960, 'Country': 'Ghana'},
 {'Year': 1960, 'Country': 'Greece'},
 {'Year': 1960, 'Country': 'Hungary'},
 {'Year': 1960, 'Country': 'India'},
 {'Year': 1960, 'Country': 'Iran'},
 {'Year': 1960, 'Country': 'Iraq'},
 {'Year': 1960, 'Country': 'Italy'},
 {'Year': 1960, 'Country': 'Japan'},
 {'Year': 1960, 'Country': 'Mexico'},
 {'Year': 1960, 'Country': 'Morocco'},
 {'Year': 1960, 'Country': 'Netherlands'},
 {'Year': 1960, 'Country': 'New Zealand'},
 {'Year': 1960, 'Country': 'Norway'},
 {'Year': 1960, 'Country': 'Pakistan'},
 {'Year': 1960, 'Country': 'Poland'},
 {'Year': 1960, 'Country': 'Portugal'},
 {'Year': 1960, 'Country': 'Singapore'},
 {'Year': 1960, 'Country': 'South Africa'},
 {'Year': 1960, 'Country': 'Spain'},
 {'Year': 1960, 'Country': 'Sweden'},
 {'Year': 1960, 'Country': 'Switzerland'},
 {'Year': 1960, 'Country': 'Taiwan'},
 {'Year': 1960, 'Country': 'Turkey'},
 {'Year': 1960, 'Country': 'United Kingdom'},
 {'Year': 1960, 'Country': 'United States'},
 {'Year': 1960, 'Country': 'Venezuela'},
 {'Year': 1964, 'Country': 'Argentina'},
 {'Year': 1964, 'Country': 'Australia'},
 {'Year': 1964, 'Country': 'Austria'},
 {'Year': 1964, 'Country': 'Bahamas'},
 {'Year': 1964, 'Country': 'Belgium'},
 {'Year': 1964, 'Country': 'Brazil'},
 {'Year': 1964, 'Country': 'Bulgaria'},
 {'Year': 1964, 'Country': 'Canada'},
 {'Year': 1964, 'Country': 'Cuba'},
 {'Year': 1964, 'Country': 'Denmark'},
 {'Year': 1964, 'Country': 'Ethiopia'},
 {'Year': 1964, 'Country': 'Finland'},
 {'Year': 1964, 'Country': 'France'},
 {'Year': 1964, 'Country': 'Ghana'},
 {'Year': 1964, 'Country': 'Hungary'},
 {'Year': 1964, 'Country': 'India'},
 {'Year': 1964, 'Country': 'Iran'},
 {'Year': 1964, 'Country': 'Ireland'},
 {'Year': 1964, 'Country': 'Italy'},
 {'Year': 1964, 'Country': 'Japan'},
 {'Year': 1964, 'Country': 'Kenya'},
 {'Year': 1964, 'Country': 'Korea, North'},
 {'Year': 1964, 'Country': 'Korea, South'},
 {'Year': 1964, 'Country': 'Mexico'},
 {'Year': 1964, 'Country': 'Netherlands'},
 {'Year': 1964, 'Country': 'New Zealand'},
 {'Year': 1964, 'Country': 'Nigeria'},
 {'Year': 1964, 'Country': 'Norway'},
 {'Year': 1964, 'Country': 'Pakistan'},
 {'Year': 1964, 'Country': 'Philippines'},
 {'Year': 1964, 'Country': 'Poland'},
 {'Year': 1964, 'Country': 'Sweden'},
 {'Year': 1964, 'Country': 'Switzerland'},
 {'Year': 1964, 'Country': 'Trinidad and Tobago'},
 {'Year': 1964, 'Country': 'Tunisia'},
 {'Year': 1964, 'Country': 'Turkey'},
 {'Year': 1964, 'Country': 'United Kingdom'},
 {'Year': 1964, 'Country': 'United States'},
 {'Year': 1964, 'Country': 'Uruguay'},
 {'Year': 1968, 'Country': 'Argentina'},
 {'Year': 1968, 'Country': 'Australia'},
 {'Year': 1968, 'Country': 'Austria'},
 {'Year': 1968, 'Country': 'Belgium'},
 {'Year': 1968, 'Country': 'Brazil'},
 {'Year': 1968, 'Country': 'Bulgaria'},
 {'Year': 1968, 'Country': 'Cameroon'},
 {'Year': 1968, 'Country': 'Canada'},
 {'Year': 1968, 'Country': 'Cuba'},
 {'Year': 1968, 'Country': 'Denmark'},
 {'Year': 1968, 'Country': 'Ethiopia'},
 {'Year': 1968, 'Country': 'Finland'},
 {'Year': 1968, 'Country': 'France'},
 {'Year': 1968, 'Country': 'Greece'},
 {'Year': 1968, 'Country': 'Hungary'},
 {'Year': 1968, 'Country': 'India'},
 {'Year': 1968, 'Country': 'Iran'},
 {'Year': 1968, 'Country': 'Italy'},
 {'Year': 1968, 'Country': 'Jamaica'},
 {'Year': 1968, 'Country': 'Japan'},
 {'Year': 1968, 'Country': 'Kenya'},
 {'Year': 1968, 'Country': 'Korea, South'},
 {'Year': 1968, 'Country': 'Mexico'},
 {'Year': 1968, 'Country': 'Mongolia'},
 {'Year': 1968, 'Country': 'Netherlands'},
 {'Year': 1968, 'Country': 'New Zealand'},
 {'Year': 1968, 'Country': 'Norway'},
 {'Year': 1968, 'Country': 'Pakistan'},
 {'Year': 1968, 'Country': 'Poland'},
 {'Year': 1968, 'Country': 'Sweden'},
 {'Year': 1968, 'Country': 'Switzerland'},
 {'Year': 1968, 'Country': 'Taiwan'},
 {'Year': 1968, 'Country': 'Tunisia'},
 {'Year': 1968, 'Country': 'Turkey'},
 {'Year': 1968, 'Country': 'Uganda'},
 {'Year': 1968, 'Country': 'United Kingdom'},
 {'Year': 1968, 'Country': 'United States'},
 {'Year': 1968, 'Country': 'Venezuela'},
 {'Year': 1972, 'Country': 'Argentina'},
 {'Year': 1972, 'Country': 'Australia'},
 {'Year': 1972, 'Country': 'Austria'},
 {'Year': 1972, 'Country': 'Belgium'},
 {'Year': 1972, 'Country': 'Brazil'},
 {'Year': 1972, 'Country': 'Bulgaria'},
 {'Year': 1972, 'Country': 'Canada'},
 {'Year': 1972, 'Country': 'Colombia'},
 {'Year': 1972, 'Country': 'Cuba'},
 {'Year': 1972, 'Country': 'Denmark'},
 {'Year': 1972, 'Country': 'Ethiopia'},
 {'Year': 1972, 'Country': 'Finland'},
 {'Year': 1972, 'Country': 'France'},
 {'Year': 1972, 'Country': 'Ghana'},
 {'Year': 1972, 'Country': 'Greece'},
 {'Year': 1972, 'Country': 'Hungary'},
 {'Year': 1972, 'Country': 'India'},
 {'Year': 1972, 'Country': 'Iran'},
 {'Year': 1972, 'Country': 'Italy'},
 {'Year': 1972, 'Country': 'Jamaica'},
 {'Year': 1972, 'Country': 'Japan'},
 {'Year': 1972, 'Country': 'Kenya'},
 {'Year': 1972, 'Country': 'Korea, North'},
 {'Year': 1972, 'Country': 'Korea, South'},
 {'Year': 1972, 'Country': 'Lebanon'},
 {'Year': 1972, 'Country': 'Mexico'},
 {'Year': 1972, 'Country': 'Mongolia'},
 {'Year': 1972, 'Country': 'Netherlands'},
 {'Year': 1972, 'Country': 'New Zealand'},
 {'Year': 1972, 'Country': 'Niger'},
 {'Year': 1972, 'Country': 'Nigeria'},
 {'Year': 1972, 'Country': 'Norway'},
 {'Year': 1972, 'Country': 'Pakistan'},
 {'Year': 1972, 'Country': 'Poland'},
 {'Year': 1972, 'Country': 'Spain'},
 {'Year': 1972, 'Country': 'Sweden'},
 {'Year': 1972, 'Country': 'Switzerland'},
 {'Year': 1972, 'Country': 'Tunisia'},
 {'Year': 1972, 'Country': 'Turkey'},
 {'Year': 1972, 'Country': 'Uganda'},
 {'Year': 1972, 'Country': 'United Kingdom'},
 {'Year': 1972, 'Country': 'United States'},
 {'Year': 1976, 'Country': 'Australia'},
 {'Year': 1976, 'Country': 'Austria'},
 {'Year': 1976, 'Country': 'Belgium'},
 {'Year': 1976, 'Country': 'Bermuda*'},
 {'Year': 1976, 'Country': 'Brazil'},
 {'Year': 1976, 'Country': 'Bulgaria'},
 {'Year': 1976, 'Country': 'Canada'},
 {'Year': 1976, 'Country': 'Cuba'},
 {'Year': 1976, 'Country': 'Denmark'},
 {'Year': 1976, 'Country': 'Finland'},
 {'Year': 1976, 'Country': 'France'},
 {'Year': 1976, 'Country': 'Hungary'},
 {'Year': 1976, 'Country': 'Iran'},
 {'Year': 1976, 'Country': 'Italy'},
 {'Year': 1976, 'Country': 'Jamaica'},
 {'Year': 1976, 'Country': 'Japan'},
 {'Year': 1976, 'Country': 'Korea, North'},
 {'Year': 1976, 'Country': 'Korea, South'},
 {'Year': 1976, 'Country': 'Liechtenstein'},
 {'Year': 1976, 'Country': 'Mexico'},
 {'Year': 1976, 'Country': 'Mongolia'},
 {'Year': 1976, 'Country': 'Netherlands'},
 {'Year': 1976, 'Country': 'New Zealand'},
 {'Year': 1976, 'Country': 'Norway'},
 {'Year': 1976, 'Country': 'Pakistan'},
 {'Year': 1976, 'Country': 'Poland'},
 {'Year': 1976, 'Country': 'Portugal'},
 {'Year': 1976, 'Country': 'Puerto Rico*'},
 {'Year': 1976, 'Country': 'Spain'},
 {'Year': 1976, 'Country': 'Sweden'},
 {'Year': 1976, 'Country': 'Switzerland'},
 {'Year': 1976, 'Country': 'Thailand'},
 {'Year': 1976, 'Country': 'Trinidad and Tobago'},
 {'Year': 1976, 'Country': 'United Kingdom'},
 {'Year': 1976, 'Country': 'United States'},
 {'Year': 1976, 'Country': 'Venezuela'},
 {'Year': 1980, 'Country': 'Australia'},
 {'Year': 1980, 'Country': 'Austria'},

In [18]:
wars_path = "warsdata_cleaned.csv"

In [19]:
wars_df = pd.read_csv(wars_path, encoding="utf-8")
wars_df

,War ID,War Name,Country,Start Year,End Year
0,300,Allied Bombardment of Algiers,Netherlands,1816,1816
1,300,Allied Bombardment of Algiers,United Kingdom,1816,1816
2,301,Ottoman-Wahhabi,Ottoman Empire,1816,1818
3,302,Liberation of Chile,Spain,1817,1818
4,303,First Bolivar Expedition,Spain,1817,1819
...,...,...,...,...,...
1447,936,Philippine Joint Offensive,MILF & NPA,2005,2006
1448,937,Fifth Chad,FUDC,2005,2006
1449,938,Third Somalia,SCIC,2006,2008
1450,938,Third Somalia,Eritrea,2006,2008
1451,941,Second Yemeni Cleric,Zaidi Muslims,2007,2007

In [30]:
wars_df['Range of Years'] = wars_df.apply(lambda row: list(range(row['Start Year'], row['End Year']+1)), axis=1)
wars_df

,War ID,War Name,Country,Start Year,End Year,Range of Years
0,300,Allied Bombardment of Algiers,Netherlands,1816,1816,[1816]
1,300,Allied Bombardment of Algiers,United Kingdom,1816,1816,[1816]
2,301,Ottoman-Wahhabi,Ottoman Empire,1816,1818,"[1816, 1817, 1818]"
3,302,Liberation of Chile,Spain,1817,1818,"[1817, 1818]"
4,303,First Bolivar Expedition,Spain,1817,1819,"[1817, 1818, 1819]"
...,...,...,...,...,...,...
1447,936,Philippine Joint Offensive,MILF & NPA,2005,2006,"[2005, 2006]"
1448,937,Fifth Chad,FUDC,2005,2006,"[2005, 2006]"
1449,938,Third Somalia,SCIC,2006,2008,"[2006, 2007, 2008]"
1450,938,Third Somalia,Eritrea,2006,2008,"[2006, 2007, 2008]"
1451,941,Second Yemeni Cleric,Zaidi Muslims,2007,2007,[2007]

In [ ]:
list(range(0,1))

In [24]:
import numpy as np

In [25]:
# s1=df2.Start.values
# s2=df2.Stop.values
# s=df1.Value.values[:,None]
# np.dot((s>=s1)&(s<=s2),df2.Fruit)
# array(['Apple', 'Orange', 'Orange', 'Mango'], dtype=object)

s1 = wars_df['Start Year'].values
s2 = wars_df['End Year'].values
s = olympic_final_df['Year'].values[:,None]
olympic_final_df['Country War'] = np.dot((s>=s1)&(s<=s2),wars_df['Country'])
olympic_final_df

# df1['Fruit']=np.dot((s>=s1)&(s<=s2),df2.Fruit)

,Year,Country,Medal,City,Sport,Discipline,Athlete,Gender,Event,Country War
0,1896,Hungary,Gold,Athens,Aquatics,Swimming,"HAJOS, Alfred",Men,100M Freestyle,SpainUnited KingdomItalyUnited KingdomSpainCub...
1,1896,Austria,Silver,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",Men,100M Freestyle,SpainUnited KingdomItalyUnited KingdomSpainCub...
2,1896,Greece,Bronze,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",Men,100M Freestyle For Sailors,SpainUnited KingdomItalyUnited KingdomSpainCub...
3,1896,Greece,Gold,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",Men,100M Freestyle For Sailors,SpainUnited KingdomItalyUnited KingdomSpainCub...
4,1896,Greece,Silver,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",Men,100M Freestyle For Sailors,SpainUnited KingdomItalyUnited KingdomSpainCub...
...,...,...,...,...,...,...,...,...,...,...
5765,2014,United Kingdom,Bronze,Sochi,Skiing,Snowboard,"JONES, Jenny",Women,Slopestyle,
5766,2014,United States,Gold,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",Women,Slopestyle,
5767,2014,Canada,Silver,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",Women,Snowboard Cross,
5768,2014,Czech Republic,Gold,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",Women,Snowboard Cross,
5769,2014,France,Bronze,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",Women,Snowboard Cross,

In [22]:
# olympics_vs_wars_df = pd.DataFrame(columns='''War Name', 'Country','Start Year', 'End Year')